I still haven't figured out how to do the reload... maybe because I prefer to import as *

In [6]:
if False:
    from read_oq_hdf5 import *
else:
    %run -i "read_oq_hdf5"

In [7]:
# set all single line variables to be displayed, not just the last line
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
# check the version
import openquake.baselib
openquake.baselib.__version__

'3.14.0'

In [9]:
tag = 'imt_sanity'
config = '4-sites_many-periods_vs30-475'

oq_id = [int(re.split('calc_|\.',name)[1]) for name in glob.glob(str(Path(tag,config,'calc_*.hdf5')))][0]
file_id = str(Path(tag,config,f'calc_{oq_id}.hdf5'))

In [10]:
data = retrieve_data(file_id)

In [11]:
data['hcurves'].keys()

dict_keys(['hcurves_rlzs', 'hcurves_stats'])

In [12]:
data['metadata']['sites']

              sids     lon    lat  depth   vs30  vs30measured  z1pt0  z2pt5
name
Dunedin          0  170.50 -45.87    0.0  475.0          True  260.0    1.0
Christchurch     1  172.63 -43.53    0.0  475.0          True  260.0    1.0
Auckland         2  174.77 -36.87    0.0  475.0          True  260.0    1.0
Wellington       3  174.78 -41.30    0.0  475.0          True  260.0    1.0